<h1> Welcome to our page! </h1>

<div>
<form>
<input type ="text" name ="Search restaurants">

<input type="submit" value="Submit">
</div>

</form>



<div>

<%= link_to 'See all restaurants', locations_path(@index) %>
</div>
