<h1> Welcome to our page! </h1>

<<<<<<< HEAD
<<<<<<< HEAD

=======
<div>
<form>
<input type ="text" name ="Search restaurants">

<input type="submit" value="Submit">
</div>

</form>
>>>>>>> 6394e21e52581a820246209efe15c32893a2b8af
=======

>>>>>>> master



<div>

<%= link_to 'See all restaurants', locations_path(@index) %>
</div>
