<h1> Welcome to our page! </h1>


<<<<<<< HEAD
=======
<div>
<form>
<input type ="text" name ="Search restaurants">

<input type="submit" value="Submit">
</div>

</form>

>>>>>>> 2b842550b585a61a1cb51111ec007a91b822cc0c



<div>

<%= link_to 'See all restaurants', locations_path(@index) %>
</div>
