
<div class= "container_bg_color">
  <br>
<table>
<div class="row">
<div class="col-sm-4">
</div>
<div class="col-sm-4">
  <div class="thumbnail">
    <%= image_tag (@user.avatar) %>
    <div class="caption">
      <p>

      </p>
      <hr>
      <p>
        <strong>Name:</strong>
      </p>
      <p>
        <strong>E-mail:</strong>
        <%= @user.email %></p>
<hr>
<!-- <p><a href="#" class="btn btn-success" role="button">Make a Foodle</a></p> -->
  <p><%= link_to 'Make a Foodle', new_location_path, class:"btn btn-primary" %>  &nbsp<a href="#" class="btn btn-success" role="button">Reserve</a></p>
<div class="col-sm-4">
</div>
      </div>
    </div>
  </div>
</div>

</table>

</div>
